@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sacramento');

.message-information {

}
#contents2 {
    background-color: #EEEEEE;
    height:680px;
    padding-top:80px;
}
#content {
    max-width: 540px;
    margin-top: 15px;
    margin: 0 auto;
    background-color:white;
    height:650px;
}
@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom:10px;
    position:relative;
}

#header_2 {
    width:840px;
    margin:0 auto;
}

h1 {
    width: 94%;
    padding-top: 17px;
    padding-left: 3%;
    font-size: 24px;
    color: #eeeeee;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}
#flush_success {
    width: 100%;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

.message-mark {
  float:right;
  padding-top:10px;
  padding-right:50px;
}

.title {
    position:absolute;
    right:700px;
    top:-4px;
    font-size:53px;
    font-family: 'Sacramento', cursive;erif;
}

.mypage-mark {
     float:right;
     padding-top:10px;
}


.user-data {
    padding: 20px;
    width: 161px;
    height: 267.5px;
    display:inline-block;
}
 .img {
    width:161px;
    height:201px;
 }
.message_name {
    margin-top: -64px;
    padding-left: 50px;
}
.message_action {
    padding-left: 50px;
}
.message-information{
    padding-top: 15px;
    padding-left: 137px;
}
.Unsubscribed{
    margin-top: -52px;
    padding-left: 50px;
    padding-bottom:11px
}
